<!-- <div class="content-heading">
    <div>Data-Tables components
        <small>Native and not wrapped angular2 based data-tables</small></div>
</div> -->
<!-- <alert [type]="'info'">None of this examples are based on the official jQuery-Datatables</alert> -->
<!-- <h4 class="page-header">ng2 Table
    <small>Simple table extension with sorting, filtering, paging... for Angular2 apps by ValorSoftware</small>
</h4> -->

<div class="card card-default">
    <!-- <div class="card-header">Please enter the query content</div> -->
    <div class="card-body">
        <h4 class="mt0">search condition</h4>
        <form class="form-inline">
            <label class="sr-only" for="code">code</label>
            <input #code class="form-control mb-2 mr-sm-2" id="code" type="text" placeholder="code" />
            <label class="sr-only" for="name">name</label>
            <input #name class="form-control mb-2 mr-sm-2" id="name" type="text" placeholder="name" />
            <label class="sr-only" for="name">grade</label>
            <input #grade class="form-control mb-2 mr-sm-2" id="grade" type="text" placeholder="grade" />
            <label class="sr-only" for="name">specialty</label>
            <input #specialty class="form-control mb-2 mr-sm-2" id="specialty" type="text" placeholder="specialty" />
            <!--<button class="mr-1 btn btn-labeled btn-primary mb-2" type="submit" 
             (click)="onGetList(code.value, name.value, grade.value, specialty.value)">
                <span class="btn-label"><i class="fa fa-search"></i>
                </span>query</button>
            <button class="mr-1 btn btn-labeled btn-primary mb-2" type="submit" 
            (click)="onGetListEx(code.value, name.value, grade.value, specialty.value)">
                <span class="btn-label"><i class="fa fa-search"></i>
                </span>queryEx</button> -->
            <button class="mr-1 btn btn-labeled btn-primary mb-2" type="submit" 
            (click)="onGetListDto(code.value, name.value, grade.value, specialty.value)">
                <span class="btn-label"><i class="fa fa-search"></i>
                </span>query</button>
            <button class="mr-1 btn btn-labeled btn-primary mb-2" type="button" (click)="onDownLoadStudent(code.value, name.value, grade.value, specialty.value)">
                <span class="btn-label"><i class="fa fa-download"></i>
                </span>download</button>
        </form>
    </div>
</div>

<div class="card card-default">
    <!-- <div class="card-header">Please enter the query content</div> -->
    <div class="card-body">
        <h4 class="mt0">Editing operation</h4>
        <form class="form-inline">
            <!-- <button class="mb-2 mr-1 btn btn-labeled btn-primary" type="button" (click)="onDemoDownXlsx()">
                    <span class="btn-label"><i class="fa fa-file"></i>
                    </span>demo</button> -->
            <button class="mb-2 mr-1 btn btn-labeled btn-primary" type="button" (click)="onDownloadStudentTemplate()">
                <span class="btn-label"><i class="fa fa-file"></i>
                </span>Template</button>
            <label for="file" class="file-upload">
                <button class="mr-1 btn btn-labeled btn-primary mb-2">
                    <span class="btn-label"><i class="fa fa-upload"></i>
                    </span>upload</button>
                <input id="file" type="file" (change)="onUploadStudentXlsx($event)" multiple="false" />
            </label>

            <button class="mb-2 mr-1 btn btn-labeled btn-primary" type="button">
                <span class="btn-label"><i class="fa fa-plus-square"></i>
                </span>new</button>

            <button class="mr-1 btn btn-labeled btn-primary mb-2" type="button">
                <span class="btn-label"><i class="fa fa-edit"></i>
                </span>edit</button>

            <!-- <button class="mb-2 mr-1 btn btn-labeled btn-primary" type="button">
                <span class="btn-label"><i class="fa fa-minus-square"></i>
                </span>minus</button> -->
            <button class="mr-1 btn btn-labeled btn-warning mb-2" type="button" (click)="onDelete()">
                <span class="btn-label"><i class="fa fa-trash"></i>
                </span>trash</button>
            <button class="mr-1 btn btn-labeled btn-danger mb-2" type="button">
                <span class="btn-label"><i class="fa fa-recycle"></i>
                </span>recycle</button>
            <!-- <button class="mr-1 btn btn-labeled btn-success mb-2" type="button">
                <span class="btn-label"><i class="fa fa-check"></i>
                </span>check</button>
            <button class="mr-1 btn btn-labeled btn-danger mb-2" type="button">
                <span class="btn-label"><i class="fa fa-plus-square"></i>
                </span>error</button>
            <button class="mr-1 btn btn-labeled btn-info mb-2" type="button">
                <span class="btn-label"><i class="fa fa-exclamation"></i>
                </span>Info</button>
            <button class="mr-1 btn btn-labeled btn-warning mb-2" type="button">
                <span class="btn-label"><i class="fas fa-exclamation-triangle"></i>
                </span>Warning</button> -->
            <input #ng2filter type='text' class="form-control" placeholder='Type to filter the all column...' (keyup)='onFilterTable(ng2filter.value)' />
            <input #ng2filter2 type='text' class="form-control" placeholder='Type to filter the code column...' (keyup)='onFilterColumn(ng2filter2.value)' />
        </form>
    </div>
</div>
<div class="card card-default">
    <div class="card-body">
        <ngx-datatable #table class="bootstrap" [columnMode]="'force'" 
            [rows]="rows"
            [headerHeight]=50 [rowHeight]="'auto'" [footerHeight]="'auto'" 
            [scrollbarH]=false
            [scrollbarV]=false
            [externalPaging]=true 
            [count]="pageConfig.totalSize"
            [offset]="pageConfig.page"
            [limit]="pageConfig.size"
            (page)='onGetList(code.value, name.value, grade.value, specialty.value, $event)'
            [messages]="tableMessage"
            [selected]="selected"
            [selectionType]="'checkbox'"
            [selectAllRowsOnPage]="false"
            (select)="onSelect($event)"
            [summaryRow]="true"
            [summaryPosition]="'bottom'"
            [summaryHeight]="'auto'">
            <ngx-datatable-column 
                [width]="30"
                [sortable]="false"
                [canAutoResize]="false"
                [draggable]="false"
                [resizeable]="false"
                [headerCheckboxable]="true"
                [checkboxable]="true"
                [summaryFunc] = "">
            </ngx-datatable-column>
            <ngx-datatable-column name="code"></ngx-datatable-column>
            <ngx-datatable-column name="Name">
                <!-- <ng-template ngx-datatable-header-template let-column="column">
                    <strong>{{column.name}}</strong>
                </ng-template> -->
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                  <span
                    title="Double click to edit"
                    (dblclick)="editing[rowIndex + '-name'] = true"
                    *ngIf="!editing[rowIndex + '-name']">
                    {{value}}
                  </span>
                  <input
                    autofocus class = "form-control"
                    (blur)="updateValue($event, 'name', rowIndex)"
                    *ngIf="editing[rowIndex+ '-name']"
                    type="text"
                    [value]="value"
                  />
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="gender" [summaryFunc]="summaryForGender"></ngx-datatable-column>
            <ngx-datatable-column name="grade"></ngx-datatable-column>
            <ngx-datatable-column name="specialty"></ngx-datatable-column>
            <ngx-datatable-column name="createdBy"></ngx-datatable-column>
            <ngx-datatable-column name="createdDate"></ngx-datatable-column>   
        </ngx-datatable>
       
    </div>
</div>

{{pageConfig|json}}


<div class="card card-default">
    <div class="card-body">
        <ngx-datatable #table class="bootstrap" [columnMode]="'force'" 
            [rows]="rows"
            [columns]= "columns"
            [headerHeight]=50 [rowHeight]="'auto'" [footerHeight]="'auto'" 
            [scrollbarH]=false
            [scrollbarV]=false
            [externalPaging]=true 
            [count]="pageConfig.totalSize"
            [offset]="pageConfig.page"
            [limit]="pageConfig.size"
            [messages]="tableMessage"
            [selected]="selected"
            [selectionType]="'multi'"
            (select)="onSelect($event)"
            (activate)="onActivate($event)">
            <ngx-datatable-footer >
                <ng-template 
                  ngx-datatable-footer-template 
                  let-rowCount="rowCount"
                  let-pageSize="pageSize"
                  let-selectedCount="selectedCount"
                  let-curPage="curPage"
                  let-offset="offset">
                  <div style="padding: 5px 10px">
                    <div>
                      <strong>Summary</strong>: student
                    </div>
                    <hr style="width:100%" />
                    <div>
                      selected size: {{selectedCount}} |
                      current page: {{curPage}} |
                      current size: {{pageSize}} |
                      total size: {{rowCount}} 
                    </div>
                  </div>
                </ng-template>
              </ngx-datatable-footer>   
        </ngx-datatable>
       
    </div>
</div>

{{pageConfig|json}}